@import
	url('https://fonts.googleapis.com/css?family=Product Sans:400,500,700|Montserrat:400,500,700')
	;

.mediaViewInfo {
	--web-view-name: Web 1920 – 7;
	--web-view-id: Web_1920__7;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__7;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__7 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	--web-view-name: Web 1920 – 7;
	--web-view-id: Web_1920__7;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#ID90669 {
	position: absolute;
	width: 1918.5px;
	height: 1278.5px;
	left: 2px;
	top: -79px;
	overflow: visible;
}
#meeting_title {
	left: 400px;
	top: 468px;
	position: absolute;
	overflow: visible;
	width: 1183px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(62,62,62,1);
}
#meeting_time {
	left: 400px;
	top: 326px;
	position: absolute;
	overflow: visible;
	width: 815px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(221,40,73,1);
}
#join-button {
	position: absolute;
	width: 267px;
	height: 77px;
	left: 400px;
	top: 673px;
	overflow: visible;
	background-color:#fff;
	border: 1px solid #a2a2a2;
	border-radius: 20px 20px 20px 20px;
}
#Rectangle_2 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_2 {
	position: absolute;
	overflow: visible;
	width: 267px;
	height: 77px;
	left: 0px;
	top: 0px;
}
#join_now {
	left: 42px;
	top: 14px;
	position: absolute;
	overflow: visible;
	width: 179px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 40px;
	color: rgba(221,40,73,1);
}
#Check_Details {
	left: 691px;
	top: 692px;
	position: absolute;
	overflow: visible;
	width: 187px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-weight: normal;
	font-size: 30px;
	color: rgba(62,62,62,1);
	text-decoration: underline;
}
#O_Horizontal_Logo {
	position: absolute;
	width: 238px;
	height: 142px;
	left: 24px;
	top: 0px;
	overflow: visible;
}
#heading_text {
	left: 400px;
	top: 211px;
	position: absolute;
	overflow: visible;
	width: 559px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: italic;
	font-weight: bold;
	font-size: 50px;
	color: rgba(132,91,157,1);
}
