@import
	url('https://fonts.googleapis.com/css?family=Product Sans:400,500,700|Montserrat:400,500,700')
	;


.mediaViewInfo {
	--web-view-name: Web 1920 – 8;
	--web-view-id: Web_1920__8;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: height;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Web_1920__8;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#Web_1920__8 {
	position: absolute;
	width: 1920px;
	height: 1080px;
	overflow: hidden;
	--web-view-name: Web 1920 – 8;
	--web-view-id: Web_1920__8;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#ID48 {
	position: absolute;
	width: 2612px;
	height: 1078px;
	left: 0px;
	top: 0px;
	overflow: hidden;
}
#Time_to_Relax__Do_some_Deep_Wo {
	left: 387px;
	top: 578px;
	position: absolute;
	overflow: visible;
	width: 1193px;
	white-space: nowrap;
	text-align: left;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 70px;
	color: rgba(62,62,62,1);
}
#No_upcoming_meetings_today {
	left: 390px;
	top: 436px;
	position: absolute;
	overflow: visible;
	width: 1147px;
	white-space: nowrap;
	text-align: center;
	font-family: Product Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(132,91,157,1);
}
#O_Horizontal_Logo {
	position: absolute;
	width: 238px;
	height: 142px;
	left: 24px;
	top: 0px;
	overflow: visible;
}