@media ( min-width : 992px) and (max-width: 1199px) {
	.menu_area {
		width: 100%
	}
	.menu_area .navbar-brand {
		font-size: 42px;
	}
	.menu_area #nav .nav-link .nav-link1 {
		padding: 35px 7.5px;
	}
	.sing-up-button>a {
		color: #fff;
		height: 40px;
		min-width: 152px;
		line-height: 36px;
		font-size: 14px;
	}
	.welcome-thumb {
		width: 50%;
		bottom: -100px;
		right: 50px;
	}
	.video-area {
		height: 550px;
	}
	.app_screenshots_slides {
		padding: 0 4%;
	}
	.header_area.sticky .menu_area #nav .nav-link .nav-link1 {
		padding: 23px 7.5px;
	}
}

@media ( min-width : 768px) and (max-width: 991px) {
	.mobile-hidden {
		visibility: hidden;
		height: 0;
	}
	.tab-hidden {
		visibility: hidden;
		height: 0;
	}
	.mobile-visible {
		visibility: visible;
		height: 100%;
	}
	.social-media {
		visibility: hidden;
		height: 0;
	}
	.social-media-mobile {
		visibility: visible;
		height: 45px;
	}
	.header_area {
		padding: 0;
	}
	.menu_area {
		width: 100%
	}
	.menu_area .navbar-brand {
		font-size: 48px;
	}
	.header_area.sticky {
		height: 80px;
	}
	.header_area .menu_area #nav .nav-link, .header_area.sticky .menu_area #nav .nav-link .nav-link1
		{
		padding: 7.5px 15px;
	}
	#ca-navbar {
		padding: 30px;
		border-radius: 3px;
		background-color: #fbf9ff;
		text-align: left;
	}
	.header_area.sticky #ca-navbar {
		padding: 20px;
		border-radius: 3px;
		background-color: #fbf9ff;
		text-align: left;
	}
	.sing-up-button {
		margin-top: 30px;
		text-align: left;
	}
	.welcome-thumb {
		width: 50%;
		bottom: -100px;
		right: 0;
	}
	.wellcome-heading {
		margin-bottom: 70px;
	}
	.single-special {
		padding: 30px 10px;
	}
	.single-feature>h3 {
		font-size: 25px;
		margin-top: 32px;
		text-align: center;
	}
	.single-feature>h2 {
		font-size: 75px;
		text-align: center;
	}
	.single-feature>h4 {
		margin-top: 15px;
		text-align: center;
	}
	.single-feature1>h1 {
		font-size: 50px;
		text-align: center;
		margin: 20px;
		position: relative;
	}

	.single-feature2>h1 {
		font-size: 50px;
		text-align: center;
		margin: 20px;
		position: relative;
	}

	.team-feature>h2 {
		font-size: 25px;
		margin-top: 32px;
		text-align: center;
	}
	
	.team-feature>h1 {
		font-size: 35px;
		margin-top: 32px;
		text-align: center;
	}	
	
	.team-feature>h3 {
		margin-top: 15px;
		text-align: center;
	}

	.special_description_area.mt-150 {
		margin-top: 50px;
	}
	.special_description_content>h1 {
		font-size: 30px;
	}
	.special_description_img {
		margin-left: 650px;
		margin-top: 180px;
		max-height: 70px;
		max-width: 70px;
		position: fixed;
	}
	.video-area {
		height: 350px;
	}
	.line-shape2 {
		width: 500px;
		margin: 0px;
	}
	.line-shape4 {
		width: 500px;
		margin: 0px;
	}
	.section-heading>h2 {
		font-size: 38px;
	}
	.section-heading_home>h2 {
		font-size: 27.5px;
		margin: 0;
	}
	.section-heading_home>h3 {
		font-size: 20px;
		margin-top: 10px;
	}
	.get-start-area .submit {
		margin-left: 0;
		margin-top: 280px;
	}
	.get-start-area2 .submit {
		margin-left: 80px;
		margin-top: 10px;
	}
	.footer-text>p {
		margin-bottom: 30px;
	}
	.section-heading {
		margin-bottom: 0px;
	}
	.sing-up-button>a {
		margin-top: 4px;
		display: inline-block;
		border: 2px solid #a883e9;
		height: 40px;
		min-width: 160px;
		line-height: 36px;
		font-size: 14px;
	}
	.sing-up-button>a {
		color: #3e3e3e;
	}
	.counter-area {
		min-width: 50px;
	}
	.counter-area>h3 {
		font-size: 30px;
	}
	.tm-banner {
		z-index: 1;
	}
	.tm-banner .tm-listing-search {
		bottom: 50%;
	}
	.fileUpload input.upload {
		font-size: 15px;
	}
}

@media ( min-width : 320px) and (max-width: 767px) {
	.mobile-hidden {
		visibility: hidden;
		height: 0;
	}
	.mobile-visible {
		visibility: visible;
		height: 100%;
	}
	
	.team-social-icon>a>i {
		align: center;
	}
	
	.team-social-icon {
		text-align: center;
	}	
	.social-media {
		visibility: hidden;
		height: 0;
	}
	.social-media-mobile {
		visibility: visible;
		height: 40px;
	}
	.social-media-mobile>a>img {
		padding: 2px;
	}
	.header_area {
		padding: 0;
	}
	.menu_area {
		width: 100%
	}
	.menu_area .navbar-brand {
		font-size: 48px;
	}
	.header_area.sticky {
		height: 80px;
	}
	.header_area .menu_area #nav .nav-link, .header_area.sticky .menu_area #nav .nav-link .nav-link1
		{
		padding: 5px 15px;
		color: #3e3e3e;
	}
	#ca-navbar {
		padding: 20px;
		border-radius: 3px;
		background-color: #fbf9ff;
		text-align: left;
	}
	.header_area.sticky #ca-navbar {
		padding: 20px;
		border-radius: 3px;
		background-color: #fbf9ff;
		text-align: left;
	}
	.sing-up-button {
		margin-top: 30px;
		text-align: left;
	}
	.sing-up-button>a {
		color: #3e3e3e;
	}
	.header_area {
		top: 0;
	}
	.welcome_text .cd-intro>p {
		font-size: 14px;
	}
	.wellcome-heading>h2 {
		font-size: 35px;
		top: 100px;
	}
	.get-start-area .email {
		max-width: 100%;
		margin-top: 50px;
	}
	.get-start-area .submit {
		margin-left: 0;
		margin-top: 20px;
	}
	.get-start-area1 .submit {
		margin-top: 10px;
	}

	.get-start-area .submit1 {
		margin-top: 10px;
	}
	
	.welcome-thumb {
		width: 90%;
		bottom: -100px;
		right: 0;
	}
	.logo_area>a>h2 {
		font-size: 40px;
		margin-top: 10px;
	}
	.section-heading>h2 {
		font-size: 32px;
		margin-top: 120px;
	}
	.section-heading>h6 {
		font-size: 15px;
		margin-top: 0px;
		margin-right: 100px;
	}

	.section-heading>h7 {
		font-size: 15px;
		margin-top: 0px;
		margin-right: 0px;
	}	
	.section-heading_home>h2 {
		font-size: 27.5px;
		margin: 0;
	}
	.single-feature>h3 {
		font-size: 25px;
		margin-top: 32px;
		text-align: center;
	}
	.single-feature>h2 {
		font-size: 75px;
		text-align: center;
	}
	.single-feature>h4 {
		margin-top: 15px;
		text-align: center;
	}
	.single-feature1>h1 {
		font-size: 50px;
		text-align: center;
		position:relative;
		margin-top:100px;
	}

	.single-feature2>h1 {
		font-size: 50px;
		text-align: center;
		position:relative;
		margin-top:100px;
	}

	.single-feature3>h1 {
		font-size: 40px;
		text-align: center;
		position:relative;
		margin-top:100px;
	}

	.single-feature2>h4 {
		font-size: 25px;
		text-align: center;
		position:relative;
		margin-top:0px;
	}

	.team-feature>h2 {
		font-size: 25px;
		margin-top: 32px;
		text-align: center;
	}

	.team-feature>h1 {
		font-size: 32px;
		margin-top: 180px;
		text-align: center;
	}	

	.team-feature>h6 {
		font-size: 18px;
		margin-top: 20px;
		text-align: center;
	}	

	.phonebar {
    	width: 40%;
    	font-size: 18px;
    	color: #3e3e3e;
    	padding: 5px 5px 5px 5px;
    	border: 1px solid #ddd;
    	border-radius: 5px 5px 5px 5px;
    	text-align: center;
	}

	.datebar {
    	width: 100%;
    	font-size: 16px;
    	color: #3e3e3e;
    	padding: 5px 5px 5px 5px;
    	border: 1px solid #ddd;
    	border-radius: 5px 5px 5px 5px;
    	text-align: center;
	}

	.reminote-text {
    	width: 100%;
    	font-size: 16px;
    	color: #3e3e3e;
    	padding: 15px 15px 15px 15px;
    	border: 1px solid #ddd;
    	border-radius: 5px 5px 5px 5px;
    	text-align: left;
	}

	.reminote-login {
    	width: 30%;
    	font-size: 25px;
    	color: #fff;
    	text-align: center;
    	margin-left:35%;
    	background-color: #DD2849;
    	border-radius: 5px 5px 5px 5px;
	}

	.team-feature>p {
		font-size: 16px;
		margin-top: 0px;
		text-align: center;
	}

	.team-feature>h3 {
		margin-top: 15px;
		text-align: center;
	}
		
	.media-recognition>h2{
		font-size: 30px;
		text-align: center;
	}
	.sortedai-story{
	padding: 0px;
	}
	.faqs{
	padding: 0px;
	}
	.section-heading_home>h3 {
		font-size: 20px;
		margin-top: 10px;
	}
	.single-special {
		margin-bottom: 30px;
	}
	.single-special-banner img {
		height: 80%;
	}
	.special_description_area.mt-150 {
		margin-top: 50px;
	}
	.special_description_content>h2 {
		font-size: 27.5px;
	}
	.special_description_content>h3 {
		font-size: 20px;
	}
	.special_description_content>h6 {
		font-size: 18px;
	}
	.special_description_img {
		margin-left: 300px;
		margin-top: 120px;
		max-height: 70px;
		max-width: 70px;
		position: fixed;
	}
	.membership-description>h2 {
		font-size: 32px;
	}
	.image-container {
		max-width: 100%;
	}
	.image-container1 {
		max-width: 80%;
	}
	.get-started-button {
		text-align: left;
		margin-top: 20px;
	}
	.contact_from {
		margin-top: 30px;
	}
	.wellcome-heading>h3 {
		font-size: 252px;
		top: -105px;
		left: -1px;
	}
	.wellcome-heading, .single-cool-fact {
		margin-bottom: 70px;
	}
	.line-shape1 {
		width: 400px;
	}
	.line-shape2 {
		width: 275px;
	}
	.line-shape4 {
		width: 275px;
	}
	.line-shape-container {
		margin-top: -10px;
		margin-bottom: -40px;
	}
	.line-shape-container1 {
		margin-bottom: -20px;
		margin-top: -10px;
	}
	.tm-banner {
		z-index: 1;
	}
	.tm-banner .tm-listing-search {
		position: relative;
		background-color: #555;
		bottom: 0;
		margin: 0;
		padding: 20px 15px;
	}
	.tm-banner .tm-listing-search ul li {
		width: 50%;
	}
	.tm-banner .tm-listing-search ul li:first-child, .tm-banner .tm-listing-search ul li:nth-child(2)
		{
		width: 98%;
	}
	.tm-banner .slick-slide img, .tm-banner .slick-dots {
		display: none !important;
	}
	.tm-banner {
		position: inherit;
		padding-top: 70px
	}
	.tm-banner-wrap img {
		width: 100%;
		height: 100%;
		max-height: 582px;
	}
	.bx-wrapper {
		min-height: 100px;
	}
	.tm-banner-wrap .btn {
	position: absolute;
	top: 90%;
	left: 90%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #fb397d;
	color: white;
	font-size: 10px;
	padding: 10px 15px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}
.fileUpload input.upload {
	font-size: 15px;

}

.section.cms-boxes .cms-boxes-items:hover {
	opacity: 0.5;
}

.delayedPopupWindow {
	display: none;
	position: fixed;
	width: auto;
	max-width: 480px;
	height: 310px;
	top: 50%;
	left: 50%;
	margin-left: -180px;
	margin-top: -180px;
	background-color: #efefef;
	border: 2px solid #333;
	z-index: 102;
	padding: 10px 20px;
}

#delayedPopup > div.formDescription {
	float: left;
	display: block;
	width: 100%;
	padding: 1% 3%;
	font-size: 18px;
	color: #666;
	clear: left;
}
/*   This is the styling for the form's headline   */
#delayedPopup > div.formDescription h2 {
	color: #444444;
	font-size: 24px;
	line-height: 30px;
}

}

@media ( min-width : 410px) and (max-width: 450px) {

.delayedPopupWindow {
	display: none;
	position: fixed;
	width: auto;
	max-width: 480px;
	height: 310px;
	top: 50%;
	left: 50%;
	margin-left: -205px;
	margin-top: -180px;
	background-color: #efefef;
	border: 2px solid #333;
	z-index: 102;
	padding: 10px 20px;
}

/*   This is the styling for the form's headline   */
#delayedPopup > div.formDescription h2 {
	color: #444444;
	font-size: 27px;
	line-height: 40px;
}
	
}

@media ( min-width : 480px) and (max-width: 767px) {
	.wellcome-heading>h3 {
		font-size: 284px;
	}
	.menu_area {
		width: 100%
	}
	.wellcome-heading>h2 {
		font-size: 35px;
	}
	.welcome-thumb {
		bottom: -109px;
		width: 75%;
	}
	.wellcome-heading {
		margin-bottom: 50px;
	}
	.wellcome-heading>h3 {
		top: -139px;
	}
	.get-start-area .email {
		max-width: 370px;
	}
	.tm-banner {
		z-index: 1;
	}
	.tm-banner .tm-listing-search {
		position: relative;
		background-color: #555;
		bottom: 0;
		margin: 0;
		padding: 20px 15px;
	}
	.tm-banner .tm-listing-search ul li {
		width: 50%;
	}
	.tm-banner .tm-listing-search ul li:first-child, .tm-banner .tm-listing-search ul li:nth-child(2)
		{
		width: 98%;
	}
	.tm-banner .slick-slide img, .tm-banner .slick-dots {
		display: none !important;
	}
	.tm-banner {
		position: inherit;
		z-index: -999;
		padding-top: 70px
	}
	.tm-banner-wrap img {
		display: block !important
	}
	
}

@media ( min-width : 576px) and (max-width: 767px) {
	.wellcome-heading>h3 {
		font-size: 286px;
	}
	.menu_area {
		width: 100%
	}
	.get-start-area .email {
		margin-bottom: 0;
	}
	.tm-banner {
		z-index: 1;
	}
	.tm-banner .tm-listing-search {
		position: relative;
		background-color: #555;
		bottom: 0;
		margin: 0;
		padding: 20px 15px;
	}
	.tm-banner .tm-listing-search ul li {
		width: 50%;
	}
	.tm-banner .tm-listing-search ul li:first-child, .tm-banner .tm-listing-search ul li:nth-child(2)
		{
		width: 98%;
	}
	.tm-banner .slick-slide img, .tm-banner .slick-dots {
		display: none !important;
	}
	.tm-banner {
		position: inherit;
		z-index: -999;
		padding-top: 70px
	}
	.tm-banner-wrap img {
		display: block !important
	}
}

@media ( min-width : 320px) and (max-width: 767px) {
	.m-bar {
		width: 100%;
		min-width: 250px;
		max-width: 300px;
		height: 180px;
		display: inline-block;
		margin-top: 20px;
		text-align: centre;
	}
	.menu_area {
		width: 100%
	}
	.m-bar img {
		height: 25px;
		float: none;
		margin: 10px;
	}
	.sit-in-the-corner {
		margin-top: calc(80% - 85px);
	}
}

@media ( max-width : 480px) {
	.img-responsive {
		display: none;
	}
	.img-responsive.mobile {
		display: block;
		padding: 10px;
	}
}